html,
body,
button {
  font-family: "GrenzeGotisch-";
}

html,
body,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #008000;
}

html,
body,
#section-content,
.main {
  height: 100%;
}

.col-100 {
  width: 100%;
}

.col-80 {
  width: 80%;
}

.col-60 {
  width: 60%;
}

.col-50 {
  width: 50%;
}

.col-40 {
  width: 40%;
}

.col-30 {
  width: 30%;
}

.col-20 {
  width: 20%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.round-box {
  border-radius: 99%;
}

.border-curved {
  border-radius: 10px;
}

.border-solid {
  border: 1px solid #008000;
}

.bg-op-50 {
  opacity: 0.5;
}

button {
  cursor: pointer;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-spacebetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section-content {
  position: relative;
}

.nav-bar {
  padding: 10px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  background: rgba(0, 0, 0, 0.5);
}

.nav-bar > div {
  width: 33.33%;
  width: calc(100% / 3);
}

.nav-bar h2 {
  font-family: "Diablo-style";
  color: #008000;
  font-size: 40px;
  text-align: center;
}

.nav-bar figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.sidenav form,
.sidenav img {
  max-width: 100%;
}

.close-btn {
  position: absolute;
  margin: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
  top: 20px;
  right: 20px;
}

.close-btn::after, .close-btn::before {
  content: "";
  display: block;
  height: 4px;
  width: 30px;
  position: absolute;
  top: 50%;
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.close-btn::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-btn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close-btn:hover::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #008000;
}

.close-btn:hover::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #008000;
}

.main {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  padding: 20px;
  height: calc(100% - 70px);
  position: relative;
}

.show-user-detail .sidenav {
  width: 250px;
  padding: 40px 20px;
}

.show-user-detail .main {
  margin-left: 250px;
}

.show-user-detail .main:after {
  content: "";
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.6;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.nav-user > a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #008000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}

.nav-user i {
  position: absolute;
  top: 0;
  right: 0;
  color: #ff4b2b;
}

.nav-user p {
  padding-left: 15px;
}

.small-img {
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.change-img {
  position: relative;
}

.change-img::after {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 100%;
}

.change-img input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.change-img img {
  position: absolute;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.row-input {
  position: relative;
  margin-top: 30px;
}

.row-input label {
  color: #008000;
  font-size: 24px;
  position: absolute;
  left: 5px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.row-input input {
  background-color: transparent;
  position: relative;
  width: 100%;
  border: none;
  height: 30px;
  font-size: 22px;
  line-height: 30px;
  color: #008000;
  padding: 5px;
}

.row-input i {
  position: absolute;
  right: 5px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  color: #008000;
  z-index: -1;
}

.row-input .focus-border::after, .row-input .focus-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #008000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.row-input .focus-border::after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

.row-input .focus-border span::after, .row-input .focus-border span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #008000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.row-input .focus-border span::after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}

.row-input input:hover ~ label,
.row-input input:hover ~ i {
  text-shadow: 0 0 1px rgba(84, 248, 55, 0.8), 0 0 3px rgba(84, 248, 55, 0.6), 0 0 5px rgba(84, 248, 55, 0.4);
}

.row-input.has-content {
  outline: none;
}

.row-input.has-content label {
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.row-input input:focus {
  outline: none;
}

.row-input input:focus ~ label {
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.row-input input:focus ~ .focus-border::after, .row-input input:focus ~ .focus-border::before {
  width: 100%;
}

.row-input input:focus ~ .focus-border span::after, .row-input input:focus ~ .focus-border span::before {
  height: 100%;
}

.grid-content {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid-content .game-img {
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 1;
}

.grid-content .game-img:hover {
  opacity: 1;
}

.grid-content .game-box {
  -webkit-box-shadow: 0 0 5px rgba(84, 248, 55, 0.8), 0 0 10px rgba(84, 248, 55, 0.6), 0 0 15px rgba(84, 248, 55, 0.4), 0 0 20px rgba(84, 248, 55, 0.2);
          box-shadow: 0 0 5px rgba(84, 248, 55, 0.8), 0 0 10px rgba(84, 248, 55, 0.6), 0 0 15px rgba(84, 248, 55, 0.4), 0 0 20px rgba(84, 248, 55, 0.2);
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 15px;
  position: relative;
}

.grid-content .game-box > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.grid-content .game-box .col-60 {
  padding: 15px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.grid-content .game-box p {
  max-height: 100%;
  overflow-y: auto;
}

.grid-content .game-box button {
  margin-top: 15px;
}

.grid-content .game-box h4 {
  font-size: 30px;
  margin-bottom: 15px;
}

.grid-content .game-box:hover .col-60 {
  -webkit-transform: none;
          transform: none;
}

.grid-content .game-box:hover .game-img {
  opacity: 0.5;
}

.right-content {
  width: 270px;
  min-width: 200px;
  margin-left: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-content > div {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
}

.right-content .score-table {
  margin-bottom: 50px;
}

.btn-neon {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #008000;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.btn-neon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.btn-neon span::before, .btn-neon span::after {
  content: "";
  display: block;
  position: absolute;
}

.btn-neon span:nth-child(1)::before {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#008000));
  background: linear-gradient(90deg, transparent, #008000);
}

.btn-neon span:nth-child(1)::after {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#008000));
  background: linear-gradient(270deg, transparent, #008000);
}

.btn-neon span:nth-child(2)::before {
  top: -100%;
  right: 0%;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#008000));
  background: linear-gradient(180deg, transparent, #008000);
}

.btn-neon span:nth-child(2)::after {
  bottom: -100%;
  left: 0%;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#008000));
  background: linear-gradient(360deg, transparent, #008000);
}

.btn-neon:hover {
  color: #000000;
  background: #008000;
  -webkit-box-shadow: 0 0 8px #008000, 0 0 16px #008000, 0 0 32px #008000;
          box-shadow: 0 0 8px #008000, 0 0 16px #008000, 0 0 32px #008000;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.btn-neon:hover span::before,
.btn-neon:hover span::after {
  -webkit-transition: 1s;
  transition: 1s;
}

.btn-neon:hover span:nth-child(1)::before {
  left: 100%;
}

.btn-neon:hover span:nth-child(1)::after {
  right: 100%;
}

.btn-neon:hover span:nth-child(2)::before {
  top: 100%;
}

.btn-neon:hover span:nth-child(2)::after {
  bottom: 100%;
}

.block-friends {
  max-height: 450px;
}

.block-friends > div {
  padding: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
  background: #008000;
}

.block-friends > div:nth-child(even) {
  background: #ff4b2b;
}

.block-friends > div:nth-child(even) p {
  color: #008000;
}

.block-friends p {
  padding-left: 10px;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ff4b2b;
}

.score-table .tab button {
  width: 50%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #008000;
}

.score-table .tab button:focus {
  outline: none;
}

.score-table .tab button.active {
  background-color: #008000;
  color: #000000;
}

.tabcontent {
  display: none;
}

.tabcontent.active {
  display: block;
}

.tabcontent .info-point span:nth-child(2) {
  display: none;
}

.tabcontent .info-point:hover span:nth-child(1) {
  display: none;
}

.tabcontent .info-point:hover span:nth-child(2) {
  display: block;
}

.tabcontent .score-user {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabcontent .score-user > span {
  max-width: 15px;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
}

.tabcontent .score-user p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  padding-left: 10px;
}

.tabcontent .score-user .info-point {
  max-width: 30%;
  text-align: center;
  width: 100%;
}

.tabcontent .number-1 > span:before,
.tabcontent .number-2 > span:before,
.tabcontent .number-3 > span:before {
  content: "\f005";
  font-family: FontAwesome;
  position: absolute;
  font-size: 20px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -42%);
          transform: translate(-50%, -42%);
  z-index: -1;
}

.tabcontent .number-1 > span::before {
  color: gold;
}

.tabcontent .number-2 > span::before {
  color: silver;
}

.tabcontent .number-3 > span::before {
  color: #cd7f32;
}

.tabcontent .my-score {
  border-top: 1px solid;
  margin-top: 15px;
}

#location-time {
  font-family: "Clock-Number";
  color: #008000;
  font-size: 40px;
}

.modal {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  opacity: 0;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  margin: auto;
  padding: 30px;
  max-width: 600px;
  max-height: 800px;
  overflow: auto;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #000000;
  visibility: hidden;
}

.modal h2 {
  text-align: center;
  margin-bottom: 15px;
}

.modal h4 {
  margin: 10px 0;
}

.modal #friend_section input {
  margin-right: 15px;
  background-color: transparent;
  position: relative;
  width: 100%;
  border: none;
  height: 30px;
  font-size: 22px;
  line-height: 30px;
  color: #008000;
  padding: 5px;
  border-bottom: 1px solid;
}

.modal #friend_section input::-webkit-input-placeholder {
  color: #008000;
}

.modal #friend_section input:-ms-input-placeholder {
  color: #008000;
}

.modal #friend_section input::-ms-input-placeholder {
  color: #008000;
}

.modal #friend_section input::placeholder {
  color: #008000;
}

.modal #friend_section button {
  padding: 0 15px;
}

.modal #friend_section .container-friend > .d-flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal #friend_section .container-friend > .d-flex p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.modal #friend_section .container-friend > .d-flex .detail {
  overflow: hidden;
  padding: 0 10px;
}

.modal #friend_section .container-friend > .d-flex .name {
  font-size: 18px;
}

.modal #friend_section .container-friend > .d-flex > .d-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 48%;
  margin: 1%;
}

.modal #friend_section .container-friend > .d-flex .btn-neon {
  font-size: 12px;
  padding: 5px;
  margin: 0 2px;
  letter-spacing: normal;
  width: 30px;
  height: 30px;
}

.modal #friend_section .container-friend > .d-flex .btn-neon::after {
  font-family: FontAwesome;
}

.modal #friend_section .container-friend > .d-flex .yes::after {
  content: "\f00c";
}

.modal #friend_section .container-friend > .d-flex .yes:hover {
  background: #008000;
  -webkit-box-shadow: 0 0 2px #008000, 0 0 4px #008000, 0 0 8px #008000;
          box-shadow: 0 0 2px #008000, 0 0 4px #008000, 0 0 8px #008000;
}

.modal #friend_section .container-friend > .d-flex .no::after {
  content: "\f00d";
}

.modal #friend_section .container-friend > .d-flex .no:hover {
  background: #ff4b2b;
  -webkit-box-shadow: 0 0 2px #ff4b2b, 0 0 4px #ff4b2b, 0 0 8px #ff4b2b;
          box-shadow: 0 0 2px #ff4b2b, 0 0 4px #ff4b2b, 0 0 8px #ff4b2b;
}

.modal #friend_section .container-friend > .d-flex .no span:before,
.modal #friend_section .container-friend > .d-flex .no span:after {
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#ff4b2b));
  background: linear-gradient(90deg, transparent, #ff4b2b);
}

.modal #friend_section .status {
  width: 15px;
  height: 15px;
}

.modal #friend_section .online {
  background-color: #008000;
}

.modal #friend_section .offline {
  background-color: #ff4b2b;
}

.modal #friend_section #friend-request {
  max-height: 167px;
  overflow-y: auto;
}

.modal #friend_section #my-friend {
  max-height: 405px;
  overflow-y: auto;
}

.error-message {
  color: #ff4b2b;
  height: 25px;
  margin: 5px 0;
}

.show-modal .modal {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: visible;
}

.game-board {
  margin: auto;
}

.game-board > div {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid;
  display: inline-block;
  vertical-align: top;
}

canvas {
  position: absolute;
  width: 100%;
  left: 0;
}

canvas#c {
  top: 0;
  background-color: black;
  z-index: -1;
  height: 100%;
}

canvas#gameBrick {
  bottom: 0;
  height: 90%;
  height: calc(100% - 70px);
}

.screen-finding-rank-game {
  position: relative;
  height: 100%;
}

.screen-finding-rank-game #timeFind {
  text-align: center;
  font-size: 75px;
  font-family: "Clock-Number";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.screen-finding-rank-game .block-time {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
}

.screen-finding-rank-game .loader {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 350px;
  height: 350px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 6s linear infinite;
}

.screen-finding-rank-game .loader::after, .screen-finding-rank-game .loader::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 3px solid transparent;
}

.screen-finding-rank-game .loader::before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 9s linear infinite;
}

.screen-finding-rank-game .loader::after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 4.5s linear infinite;
}

.view-gameBrick {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-gameBrick h3 {
  padding: 0 20px;
}

.gameShip-section {
  width: 100%;
}

.gameShip-section .hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.gameShip-section .table-ship {
  width: 150px;
}

.gameShip-section .table-ship .select {
  color: red;
}

.gameShip-section .col-50 {
  padding: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gameShip-section .map-box {
  position: relative;
  vertical-align: top;
  padding: 5px;
  height: 430px;
  width: 430px;
  background-color: #25567B;
  border-radius: 5px;
}

.gameShip-section .box {
  vertical-align: top;
  height: 40px;
  width: 40px;
  display: inline-block;
  background-color: #99C2E1;
  margin: 1px;
  border-radius: 2px;
}

.gameShip-section .ship {
  background-color: green;
}

.gameShip-section .disable-box {
  pointer-events: none;
}

.gameShip-section .rote {
  color: green;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */